{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
  {% if registered %}
    <h2>Thank you for registering!</h2>
    {% else %}
      <h2>Register Here!</h2>
      <h2>Fill Out the form now!</h2>
      <form enctype="multipart/form-data" method="post"> <!-- "multipart/form-data" for multimedia files -->
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Register">
      </form>
  {% endif %}
{% endblock %}
